input {
    width: 40%;
    line-height: 0;
}
.input button {
    vertical-align: top;
    position: relative;
    background-color: #f8d461;
    width: 10%;
    font-size: 1rem;
}
.input button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset -2px 0px 50px 0px #fff9;
    transition: all 0.3s ease;
}
.send:hover {
    background-color: #41b885;
}
.cancel:hover {
    background-color: #ce404f;
}
.input button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.input button:active {
    bottom: 5px;
}
.menuItem {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.number {
    background-color: #4d6a8c;
    color: #fff;
    width: 24px;
    border-radius: 999em;
}

.type {
    margin-left: 24px;
    width: 25%;
    background-color: #f8d461;
    border-radius: 999em;
    font-weight: lighter;
}
.content {
    width: 50%;
}
.edit,
.del {
    width: 10%;
    font-size: 10px;
}
@media screen and (max-width: 768px) {
    .menuItem {
        font-size: 0.5rem;
    }
    .type {
        margin-left: 5px;
    }
}
