<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"
            integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=="
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../static/base.css" />
        <link rel="stylesheet" href="../static/list.css" />
        <title>新增列表</title>
    </head>
    <body>
        <div id="app">
            <section>
                <div class="container">
                    <div class="layout input" style="font-size: 0px">
                        <select v-model="input.type">
                            <option>沙拉</option>
                            <option>主餐</option>
                            <option>甜點</option>
                            <option>飲料</option>
                        </select>
                        <input type="text" v-model.trim="input.content" @keyup.enter="inputHandler"  placeholder="請輸入新增項目..."/>
                        <!-- trim 去頭尾空白 -->
                    </div>
                    <div class="layout menu">
                        <div class="menuItem" v-for="(item,index) in menu">
                            <span class="number">{{index+1}}</span>
                            <span class="type">{{item.type}}</span>
                            <a :href="item.link" target="vue-iron" class="content">{{item.content}}</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="vue.js"></script>
    </body>
</html>
